body {
  background-color: #00DF09;
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 20px;
  line-height: 1.2;
  font-size: 2.6rem;
  overflow: hidden;
}

img {
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s ease; 
}

#img1 {
  top: 25vh;
  right: 42vw;
  transform: rotate(15deg);
  width: 18vw; 
  height: auto;
}

#img2 {
  bottom: 0vh;
  left: 10vw;
  transform: rotate(10deg);
  width: 23vw; 
  height: auto;
}

#img3 {
  top: 5vh;
  left: 2vw;
  transform: rotate(-15deg);
  width: 21vw; 
  height: auto;
}

#img4 {
  top: 0vh;
  right: 0vw;
  width: 37vw;
  height: auto;
}

.draggable {
  display: inline-block;
  cursor: move;
  margin: 2px;
}

.text-glow {
  text-shadow: 0 0 8px #fff;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}
.text-blink {
  animation: blink 1s step-start 0s infinite;
}

@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
      transform: translateX(10px);
  }
}
.text-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media (max-width: 1000px) {
  body {
    font-size: 1.8rem; 
    padding: 10px;
  }
  
  img {
    width: 25vw; 
  }

  #img1 { top: 30vh; right: 45vw; }
  #img2 { bottom: 5vh; left: 5vw; }
  #img3 { top: 10vh; left: 5vw; }
  #img4 { top: 15vh; right: 0vw; }
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem; 
  }

  img {
    width: 50vw;
  }

  #img4 {
    top: 0vh;
    right: 0vw;
    width: 37vw;
    height: auto;
  }

  #img1 { top: 40vh; right: 45vw; }
  #img2 { bottom: 5vh; left: 5vw; }
  #img3 { top: 10vh; left: 5vw; }
  #img4 { top: 5vh; right: 0vw; }

}