body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#yum {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FA00FF;
    font-size: 35vw;
    font-weight: 500;
    z-index: 1;
    pointer-events: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
}

.grid-item {
    width: calc(33% - 10px);
    margin-bottom: 15px;
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    height: auto;
    animation: rotateImage infinite 20s linear; 
}

@keyframes rotateImage {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.popup {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 20;
    color: #FA00FF;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 60%;
    max-width: 600px;
    background-color: transparent; 
    border: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 3vw;
    font-weight: 500;
}

.popup img {
    max-width: 90%;
    height: auto;
    cursor: pointer; 
}

.popup p {
    margin-top: 20px;
    color: #FA00FF;
    text-align: center; 
}

@media (max-width: 1000px) {
    #yum {
        font-size: 20vw; 
    }

    .grid-item {
        width: calc(50% - 10px); 
    }

    .popup {
        width: 80%; 
        font-size: 5vw; 
    }
}

@media (max-width: 600px) {
    #yum {
        font-size: 15vw; 
    }

    .grid {
        padding: 20px;
    }

    .grid-item {
        width: 100%; 
    }

    .popup {
        font-size: 6vw; 
    }
}
