body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: #00DFD2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 3vw;
    color: white;
}

.center-text {
    font-size: 5vw;
    filter: blur(0.2vw); 
}

.word {
    position: absolute;
    cursor: pointer;
}
